<h1>Reset Password</h1>

<%
    if (typeof error !== 'undefined') {
        %>
            <h3 style="color: red;"><%= error %></h3>
        <%  
    }
%>

<form action="/reset-password?token=<%= resetData.token %>" method="POST">
    <input type="hidden" name="user_id" value="<%= resetData.user_id %>"/>
    <input type="password" name="password" required placeholder="New password"/>
    <br><br>
    <input type="password" name="c_password" required placeholder="Confirm password"/>
    <p>Password must be greater than 6 characters, and contains at least 1 uppercase letter, 1 lowercase letter, 1 number and 1 special symbol</p>
    <input type="submit" value="Reset Password"/>
</form>